<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>집에 보내줘</title>
</head>

<body>
    <div style="max-width: 1024px;">
        <div id="app" class="px-5">
            <h1 class="mt-5">
                집에 보내줘
                <small class="text-muted">복무일 계산기</small>
            </h1>

            <div class="progress mt-4">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                    data-bs-placement="bottom" :title="titleOfServiced"
                    role="progressbar"  :style="{ width: widthOfServiced }"
                    :aria-valuenow="perOfServiced" aria-valuemin="0" aria-valuemax="100">
                    {{servicedDay}}일 ({{perOfServiced | toFixed2}}%)
                </div>

                <div class="progress-bar bg-danger" role="progressbar" :style="{ width: widthOfLeftService }"
                    data-bs-placement="bottom" :title="titleOfLeftService"
                    :aria-valuenow="perOfLeftService" aria-valuemin="0" aria-valuemax="100">
                    {{leftServiceDay}}일 ({{perOfLeftService | toFixed2}}%)
                </div>

                <div class="progress-bar bg-info" role="progressbar" :style="{ width: widthOfLeftVacation }"
                    data-bs-placement="bottom" :title="titleOfLeftVacation"
                    :aria-valuenow="perOfLeftVacation" aria-valuemin="0" aria-valuemax="100">
                    {{leftVacation}}일
                </div>
            </div>

            <form action="" class="mt-4" @keypress.enter.prevent>
                <fieldset>
                    <legend>정보 입력</legend>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label" for="enlisted-date">입대일</label>
                            <input v-model="enlistedDate" type="datetime" class="form-control" id="enlisted-date" placeholder="yyyy-mm-dd hh:mm" />
                        </div>
                        <div class="col">
                            <label class="form-label" for="discharge-date">전역일</label>
                            <input v-model="dischargeDate" type="datetime" class="form-control" id="discharge-date" placeholder="yyyy-mm-dd hh:mm" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="left-vacation">남은 휴가</label>
                        <input v-model="leftVacation" type="number" class="form-control" id="left-vacation" min="0" :max="leftService" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <footer>
        <a href="https://github.com/zer0ken/discharge">take me to the repo!</a>
    </footer>
</body>

<script>
    const 
        DAY_TO_MS = 24 * 60 * 60 * 1000,
        HOUR_TO_MS = 60 * 60 * 1000,
        MINUTE_TO_MS = 60 * 1000,
        SECOND_TO_MS = 1000


    function parseDate(str) {
        let dateObj = new Date(str)
        return dateObj
    }

    var app = new Vue({
        el: "#app",
        data: () => {
            return {
                enlistedDate: "2021-04-12 13:30",
                dischargeDate: "2022-10-11 08:00",
                leftVacation: 10,
                now: 0
            };
        },
        methods: {
            updateNow() {
                this.now = new Date()
            }
        },
        computed: {
            enlistedDateObj() {
                return new Date(this.enlistedDate)
            },
            dischargeDateObj() {
                return new Date(this.dischargeDate)
            },

            totalService() {
                return this.dischargeDateObj - this.enlistedDateObj
            },

            serviced() {
                return this.now - this.enlistedDateObj
            },
            leftService() {
                return this.totalService - this.serviced - this.leftVacation * DAY_TO_MS
            },

            servicedDay() {
                return Math.round(this.serviced / DAY_TO_MS)
            },
            leftServiceDay() {
                return Math.round(this.leftService / DAY_TO_MS)
            },

            perOfServiced() {
                return Math.max((this.serviced / this.totalService) * 100, 0)
            },
            perOfLeftService() {
                return Math.max((this.leftService / this.totalService) * 100, 0)
            },
            perOfLeftVacation() {
                return 100 - this.perOfServiced - this.perOfLeftService
            },

            widthOfServiced() {
                return `${this.perOfServiced}%`
            },
            widthOfLeftService() {
                return `${this.perOfLeftService}%`
            },
            widthOfLeftVacation() {
                return `${this.perOfLeftVacation}%`
            },

            titleOfServiced() {
                let 
                    days = this.servicedDay,
                    hours = Math.round((this.serviced % DAY_TO_MS) / HOUR_TO_MS),
                    minutes = Math.round((this.serviced % HOUR_TO_MS) / MINUTE_TO_MS),
                    seconds = Math.round((this.serviced % MINUTE_TO_MS) / SECOND_TO_MS)
                return `복무일: ${days}일 ${hours}시간 ${minutes}분 ${seconds}초, ${this.perOfServiced}%`
            },
            titleOfLeftService() {
                let 
                    days = this.leftServiceDay,
                    hours = Math.round((this.leftService % DAY_TO_MS) / HOUR_TO_MS),
                    minutes = Math.round((this.leftService % HOUR_TO_MS) / MINUTE_TO_MS),
                    seconds = Math.round((this.leftService % MINUTE_TO_MS) / SECOND_TO_MS)
                return `잔여 복무일: ${days}일 ${hours}시간 ${minutes}분 ${seconds}초, ${this.perOfLeftService}%`
            },
            titleOfLeftVacation() {
                let dischargeDay = parseDate(this.dischargeDateObj - this.leftVacation * DAY_TO_MS)
                return `조기 전역일: ${dischargeDay.getFullYear()}년 ${dischargeDay.getMonth() + 1}월 ${dischargeDay.getDate()}일`
            }
        },
        mounted() {
            this.updateNow()
            setInterval(this.updateNow, 1000)
        },
        filters: {
            toFixed2(x) {
                return x.toFixed(2)
            }
        }
    });
</script>

</html>
